<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numeric Store</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>My Numeric Store</h1>
    </header>

    <form action="/watching" method="POST" id="watchingUrl">
    <button type="submit">Watch URL</button>
    </form>

</body>
</html>