<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>watching Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div  class="watch">
        <h1>HERE, WE'RE WATCHING URLS</h1>
    </div>
    
    <div class="result">
        <p class="result-para">currently watched URL : </p>
        <p class="result-para"> <%= url%></p>
        
        <p class="result-para">Last status value : </p>
        <p class="result-para"><%= urlStatus %> </p>
    </div> 

</body>
</html>



